.lession__speakAIWithPic {
  // padding-top: 2rem;
  .subTitle__lession {
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
    color: #4f4f4f;
  }

  .title__lession {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: #0066ff;
  }

  .button__back {
    display: flex;
    position: fixed;
    left: 2.5rem;
    top: 1rem;
    background: #eeeeee;
    border-radius: 12px;
    width: 3rem;
    height: 3rem;
  }

  .small_speaker {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: 1s all ease;
    box-shadow: 0 0 0 0 #04bc8a, 0 0 0 0 #b3ffea;

    &.playing {
      animation: opacityPoping infinite 1s ease;
    }
  }
  .question__image--container {
    height: 14rem;
    display: flex;
    justify-content: center;
    .question__image--image {
      height: 14rem;
      object-fit: contain;
    }
  }

  .question__text {
    text-align: center;
    color: #8e8e93;
  }
  .main__question {
    position: fixed;
    width: 100vw;
    padding-bottom: 6rem;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    &::before{
      content: "";
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 95%;
      filter: blur(10px);
      z-index: -1;
      position: absolute;
    }


    .image__text {
      position: absolute;
      margin-bottom: 0;
      bottom: 0.2rem;
      max-width: 13rem;
      text-align: center;
      line-height: 1rem;
      max-height: 2rem;
      overflow: hidden;
    }

    .main__image--container {
      position: relative;
      background: #0066ff;
      border-radius: 11rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 0px #0056d6, 0px 3px 3px rgba(0, 0, 0, 0.5);
      width: 5rem;
      height: 5rem;
      &.isRecording {
        background: #62a72d;
        box-shadow: 0px 2px 0px #62a72d, 0px 3px 3px rgba(0, 0, 0, 0.5);
      }
      .main__image {
        border-radius: 5rem;
        width: 3rem;
        height: 3rem;
      }
      .effect__sound {
        position: absolute;
        z-index: -1;
        width: 7rem;
        height: 7rem;
        color: #b7d4ff;
        animation: 1.5s linear infinite activeSound;
      }
      .recording__wav {
        display: flex;
        justify-content: center;
        align-items: center;
        .path {
          width: 0.75rem;
          height: 1rem;
          background-color: white;
          border-radius: 0.5rem;
          margin: 0 5px;
        }
        .path_1 {
          animation: 1.5s soundWav1 infinite ease;
        }
        .path_2 {
          animation: 1.5s soundWav2 infinite ease;
        }
        .path_3 {
          animation: 1.5s soundWav3 infinite ease;
        }
      }

      @keyframes soundWav1 {
        0% {
          height: 1rem;
        }
        25% {
          height: 2rem;
        }
        50% {
          height: 1rem;
        }
        75% {
          height: 1rem;
        }
        100% {
          height: 1rem;
        }
      }
      @keyframes soundWav2 {
        0% {
          height: 1rem;
        }
        25% {
          height: 1rem;
        }
        50% {
          height: 2rem;
        }
        75% {
          height: 1rem;
        }
        100% {
          height: 1rem;
        }
      }
      @keyframes soundWav3 {
        0% {
          height: 1rem;
        }
        25% {
          height: 1rem;
        }
        50% {
          height: 1rem;
        }
        75% {
          height: 2rem;
        }
        100% {
          height: 1rem;
        }
      }
    }

    .head__phone__container {
      position: relative;
      width: 60px;
      height: 62px;
      .head__phone--image {
        background-color: white;
        border-radius: 50%;
        padding: 10px 8px 8px 8px;
        transition: 0.3s all ease;
        &.playing {
          animation: opacityPoping infinite 1s ease;
        }
      }
    }
  }

  .answers {
    font-weight: bold;
    // color: #0066ff;
    padding-left: 4rem;
    // color: #8e8e93;
    text-align: center;
    width: 27rem;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    background-color: #eeeeee;
    margin: auto;
    position: relative;
    .small_speaker {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
  .pronounce__result {
    font-weight: bold;
    // color: #0066ff;
    // color: #8e8e93;
    text-align: center;
    width: 350px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    background-color: #eeeeee;
    .loading__icon {
      width: 10px;
      height: 10px;
      margin: 5px;
    }
  }

  .circlePercent {
    width: 70px;
    height: 70px;
  }
}
