

  .modal-container {
    .popupcontainer__logo {
      top: -6.875rem;
      position: absolute;
      width: 11.25rem;
      height: 11.25rem;
    }
    .popupcontainer__close {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      border-radius: 100%;
      width: 1.5625rem;
      height: 1.5625rem;
      position: absolute;
      top: 0.375rem;
      right: 0.375rem;
      padding: 0.4375rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24), 0 0.323602px 4.81372px rgba(0, 0, 0, 0.221228),
        0 0.068794px 1.24973px rgba(0, 0, 0, 0.178429);
      cursor: pointer;
    }
    .popupcontainer__content {
      width: 100%;
      margin: 5rem 0 3.125rem 0;
    }
  }
  // Di động (chiều dọc)
  @media only screen and (max-width: 320px) {
    .modal {
      width:100px !important;
  margin-left: 10px !important;
    }
  }

  // Di động (chiều ngang)
  @media only screen and (max-width: 480px) {
    .modal {
      // width: 200px !important;
    }
  }

  @media only screen and (max-width: 600px) {
    .modal {
      // width:21.875rem !important;
    // margin-left: 10px !important;
    }
  }

  @media only screen and (max-width: 800px) {
    .modal {
      // width:23.75rem !important;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .modal {
      width: 38.75rem !important;
      margin: 0 10px 0 5.25rem !important;
    }
  }




