.bonusdraw__page {
  .draw___title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #4f4f4f;
    text-align: center;
    margin-bottom: 1.875rem;
  }

  .draw__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .firework {
      position: absolute;
      height: 500px;
      animation-name: zoomInAndOut;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
    }
    * {
      margin: 0;
      padding: 0;
    }
    a {
      color: #34495e;
    }
    /*WHEEL*/
    #wheel {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .outer__draw {
        box-sizing: content-box;
        // width: 500px;
        // height: 500px;
        // border: 16px solid #ffb800;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        box-shadow: #723808 0px 0px 10px, #723808 0px 5px 0px;
        z-index: 100;
        width: 532px;
        height: 532px;
        background: linear-gradient(180deg, #edad63 -0.21%, #de8c1e 99.93%);
      }
      .outer__rings {
        box-sizing: border-box;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        z-index: 250;
        border: 2px solid #89561f;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .mask {
        position: absolute;
        width: 532px;
        height: 532px;
        // top: -16px;
        // left: -16px;
        z-index: 150;
      }

      .inner__draw {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 100%;
        overflow: hidden;
        z-index: 200;
        -webkit-transition: all 6s cubic-bezier(0, 0.99, 0.44, 0.99);
        -moz-transition: all 6 cubic-bezier(0, 0.99, 0.44, 0.99);
        -o-transition: all 6s cubic-bezier(0, 0.99, 0.44, 0.99);
        -ms-transition: all 6s cubic-bezier(0, 0.99, 0.44, 0.99);
        transition: all 6s cubic-bezier(0, 0.99, 0.44, 0.99);
        & > div {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .sec {
            width: 50%;
            height: 50%;
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 0;
            transform-origin: bottom center;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 200;
            .sec__text {
              height: fit-content;
              width: calc(100% - 50px);
              margin-top: 2.5rem;
              z-index: 200;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-weight: 700;
              font-size: 18px;
              line-height: 21px;
              color: #ffffff;
              text-shadow: 0px 0px 2.77193px rgba(36, 114, 0, 0.4);
            }
            .sec__image {
              width: 40%;
              margin-top: 0.625rem;
              img {
                margin: 0 auto;
                width: 100%;
                object-fit: cover;
              }
            }
          }
          .sec:nth-child(1) {
            transform: translateX(-50%) rotate(30deg);
            -webkit-transform: translateX(-50%) rotate(30deg);
            -moz-transform: translateX(-50%) rotate(30deg);
            -o-transform: translateX(-50%) rotate(30deg);
            -ms-transform: translateX(-50%) rotate(30deg);
          }
          .sec:nth-child(2) {
            transform: translateX(-50%) rotate(90deg);
            -webkit-transform: translateX(-50%) rotate(90deg);
            -moz-transform: translateX(-50%) rotate(90deg);
            -o-transform: translateX(-50%) rotate(90deg);
            -ms-transform: translateX(-50%) rotate(90deg);
          }
          .sec:nth-child(3) {
            transform: translateX(-50%) rotate(150deg);
            -webkit-transform: translateX(-50%) rotate(150deg);
            -moz-transform: translateX(-50%) rotate(150deg);
            -o-transform: translateX(-50%) rotate(150deg);
            -ms-transform: translateX(-50%) rotate(150deg);
          }
          .sec:nth-child(4) {
            transform: translateX(-50%) rotate(210deg);
            -webkit-transform: translateX(-50%) rotate(210deg);
            -moz-transform: translateX(-50%) rotate(210deg);
            -o-transform: translateX(-50%) rotate(210deg);
            -ms-transform: translateX(-50%) rotate(210deg);
          }
          .sec:nth-child(5) {
            transform: translateX(-50%) rotate(270deg);
            -webkit-transform: translateX(-50%) rotate(270deg);
            -moz-transform: translateX(-50%) rotate(270deg);
            -o-transform: translateX(-50%) rotate(270deg);
            -ms-transform: translateX(-50%) rotate(270deg);
          }
          .sec:nth-child(6) {
            transform: translateX(-50%) rotate(330deg);
            -webkit-transform: translateX(-50%) rotate(330deg);
            -moz-transform: translateX(-50%) rotate(330deg);
            -o-transform: translateX(-50%) rotate(330deg);
            -ms-transform: translateX(-50%) rotate(330deg);
          }
        }
      }

      .draw__filter {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        z-index: 300;
      }

      .indicator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 9.6875rem;
        height: 9.6875rem;
        z-index: 900;
        div {
          width: inherit;
          height: inherit;
          img {
            width: inherit;
            height: inherit;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
          }
        }
      }

      #mark {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(0, -50%);
        width: 1px;
        height: 1px;
        z-index: 900;
      }
    }
  }

  .draw__button {
    margin: 2.5rem 0px;
    height: 6.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img {
      cursor: pointer;
    }
  }

  .hh {
    animation-name: hh;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  .spin {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes hh {
    0%,
    100% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }

    50% {
      transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes zoomInAndOut {
    0% {
      transform: scale(1);
      -webkit-transform: scale(1);
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      opacity: 1;
    }
  }
}
