@import './custom/tailwind.scss';
@import './custom/App.global.scss';

:root {
  --color-sushi: #98be49;
  --color-veniceBlue: #06527e;
  --color-jade: #00b56e;
  --color-codGray: #121212;
  --color-white: #ffffff;
  --color-primary: #008cff;
  --primary-light: #eaf5ff;
}
