 .container{
    display: flex;
    flex: 0.4;
    flex-direction: column;
    margin-bottom: 15px;
     .input-container{
        background-color: #E9E9E9;
        padding: 10px;
        border-radius: 15px;
    
        .input{
            flex: 1;
            border: none;
            background-color: #E9E9E9;
            padding-left: 10px;
        }
        .input:focus{
            outline: none;
        }
     }
 }
