// styles.scss

  .forgot-pass {
    margin: auto;
      // padding: 20px;
      
      .title-password {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        line-height: 20px;
        margin-bottom: 50px;
        color:#0066FF ; /* Màu của tiêu đề */
      }

      
      .form-group-inline {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .text-pass{
          flex: 0.4;
        }
        
    
        .input-pass {
          padding: 8px;
          border: 1px solid #ccc; /* Điều chỉnh màu đường viền của input */
          border-radius: 4px;
          // flex: 0.7;
        }
        .input__icon__eye{
          position: relative;
          right: 40px;
          // z-index: 9999;
          padding: 5px;
        }
        .input-container{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          flex: 1;
        }
      }
      .button-confirm{
          margin-top: 40px;
      }
      .error-message {
        color: red;
        margin-bottom: 10px;
      }
  }
  .modal-forgot{
    display: flex;
    flex-direction: column;
    justify-content: 'center';
    align-items: center;
    text-align: center;

    .title-pass{
      margin: 20px 0 10px 0px;
      font-size: 20px;
      font-weight: 600;
    }
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .forgot-pass {
    // margin: 0px;
    padding: 0px;
  }
  .title-password {
    font-size: 30px;
    font-weight: bold;
    text-align: left !important;
    line-height: 20px;
    color:#0066FF ; /* Màu của tiêu đề */
    width: 270px;
    margin-left: 100px;
  }


  .form-group-inline {
    width: 500px;
    padding: 0px;
    margin: 0px 12px 0px 10px;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: center;

    .text-pass{
      text-align: left !important;
      width: 100%;
    }
    .input-pass {
      padding: 8px;
      border: 1px solid #ccc; /* Điều chỉnh màu đường viền của input */
      border-radius: 4px;
      flex: 0.75;
    }
    .input-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 100%;

    }
  }

  .button-confirm{
    margin-top: 40px;
    margin-left: 130px;
  }
  .error-message {
    margin-left: 20px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width : 768px) {
  .forgot-pass {
    margin: 0px;
    padding: 0px;
  }
  .title-password {
    font-size: 30px;
    font-weight: bold;
    text-align: left !important;
    line-height: 20px;
    color:#0066FF ; /* Màu của tiêu đề */
    margin-left: 120px;
  }


  .form-group-inline {
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: center;

    width: 80%;
    padding: 0px;
    margin: 0px 60px 30px 10px;
    
    .text-pass{
      text-align: left !important;
      width: 100%;
    }
    .input-pass {
      padding: 8px;
      border: 1px solid #ccc; /* Điều chỉnh màu đường viền của input */
      border-radius: 4px;
      flex: 0.85 !important;
    }
    .input-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 90%;

    }
  }

  .error-message {
    margin-left: 20px !important;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width : 991px) {

  .forgot-pass {
    margin: 0px;
    padding: 0px;
    font-size: 19px;
  }
  .title-password {
    font-size: 30px;
    font-weight: bold;
    text-align: left !important;
    line-height: 20px;
    color:#0066FF ; /* Màu của tiêu đề */
    margin-left: 120px;
  }


  .form-group-inline {
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    padding: 0px;
    margin: 0px 60px 0px 10px;
    
    .text-pass{
      text-align: left !important;
      width: 100%;
    }

    .input-pass {
      padding: 8px;
      border: 1px solid #ccc; /* Điều chỉnh màu đường viền của input */
      border-radius: 4px;
      flex: 1;
    }
    .input-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 100%;

    }
  }

  .button-confirm{
    margin-left: 330px !important;
    // padding: auto;

  }
  .error-message {
    margin-left: 20px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width : 1199px) {
  .forgot-pass {
    margin: 0px;
    padding: 0px;
    font-size: 20px;

  }
  .title-password {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    color:#0066FF ; /* Màu của tiêu đề */
  }

  .form-group-inline {
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px 60px 0px 10px;
    
    .text-pass{
      text-align: left !important;
      width: 100%;
    }


    .input-pass {
      padding: 8px;
      border: 1px solid #ccc; /* Điều chỉnh màu đường viền của input */
      border-radius: 4px;
      flex: 1;
    }
    .input-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 100%;

    }
  }

  .button-confirm{
    margin-left: 430px !important;
    // padding: auto;

  }
  .error-message {
    margin-left: 300px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1023px) {
  .forgot-pass {
    margin: 0px;
    padding: 0px;
    font-size: 19px;

  }
  .title-password {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    color:#0066FF ; /* Màu của tiêu đề */
  }

  .form-group-inline {

    width: 80%;
    padding: 0px;
    margin: 0px 60px 0px 10px;
    
    .text-pass{
      text-align: left !important;
      width: 100%;
    }


    .input-pass {
      padding: 8px;
      border: 1px solid #ccc; /* Điều chỉnh màu đường viền của input */
      border-radius: 4px;
      flex: 1;
    }

    .input-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 100%;

    }
  }

  .button-confirm{
    margin-left: 350px !important;
    // padding: auto;

  }
  .error-message {
    margin-left: 230px;
  }
}

@media (min-width: 1024px) {
  .error-message {
    margin-left: 270px;
  }
  .button-confirm{
    margin-left: 500px !important;
    // padding: auto;

  }
}