.tab__document {
  .text__title {
    font-weight: bold;
    font-size: 0.875rem;
    color: #4f4f4f;
  }
  .text__info {
    font-size: 0.75rem;
    text-align: justify;
    color: #4f4f4f;
  }
  .part__list {
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;

    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    li {
      font-size: 0.75rem;
      cursor: pointer;
      color: #4f4f4f;
      margin-bottom: 0.5rem;
      &:hover {
        text-decoration: underline;
      }
      &:before {
        content: '►';
        font-size: 0.75rem;
        display: block;
        float: left;
        width: 1.3rem;
        color: #0066ff;
      }
    }
  }
}
