.contestleaderboard__page {
  .page__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #4f4f4f;
    margin-bottom: 20px;
    text-align: center;
  }
  .button__back {
    display: flex;
    position: fixed;
    left: 2.5rem;
    top: 1rem;
    background: #eeeeee;
    border-radius: 12px;
    width: 3rem;
    height: 3rem;
  }
  .page__wrapper {
    margin-top: 2.5rem;
    display: flex;
    .page__left {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 11.25rem;
        height: 11.25rem;
        margin-bottom: 1.875rem;
      }
      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #4f4f4f;
      }
      button {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #eeeeee;
        width: fit-content;
        padding: 0.5rem;
      }
    }
    .page__right {
      width: 70%;
      background: #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: 24px 24px 0px 0px;
      overflow: hidden;
      margin-bottom: 50px;
      .right__title {
        margin: 0;
        padding: 1.25rem;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #0066ff;
      }

      .item__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border-image-source: linear-gradient(
          233.57deg,
          #ffffff -3.08%,
          rgba(245, 245, 245, 0.84787) 25.85%,
          rgba(235, 235, 235, 0.7) 53.97%,
          rgba(255, 255, 255, 0.5) 108.02%
        );
      }
      .right__items {
        display: flex;
        flex-direction: column;
        gap: 0.9375rem;

        .item-ghim {
          position: fixed;
          bottom: 10px;
          margin-left: -45px;
          width: 760px;
          z-index: 999;
        }
        .loading {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.75rem 0;
        }
        .right__item--first {
          background: #ffd9da !important;
          border: none !important;
          .item__bubble {
            background: #ff0000 !important;
          }
        }
        .right__item--seccond {
          background: #fff1ce !important;
          border: none !important;
          .item__bubble {
            background: #fab608 !important;
          }
        }
        .right__item--third {
          background: #d6f0ff !important;
          border: none !important;
          .item__bubble {
            background: #129dee !important;
          }
        }
        .right__item--you {
          background: #6bd600 !important;
          border: none !important;
          .item__bubble {
            background: #3c7700 !important;
          }
        }
        .right__item {
          position: relative;
          padding: 0.4375rem 4.375rem;
          display: flex;
          gap: 0.625rem;
          border-top: 1px solid #eeeeee;
          border-bottom: 1px solid #eeeeee;
          .item__bubble {
            position: absolute;
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 100%;
            background: #eeeeee;
            padding: 0.3125rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: #ffffff;
            left: -1.75rem;
            top: 0;
          }
          .item__info {
            span {
              font-weight: 700;
              font-size: 12px;
              line-height: 14px;
              color: #000000;
              margin-bottom: 0.75rem;
            }
            .info__box {
              display: flex;
              gap: 2.5rem;
              div {
                display: flex;
                gap: 5px;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                color: #4f4f4f;
              }
            }
          }
          .item__gift {
            background: #ffffff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            border-radius: 0px 0px 0px 12px;
            // width: 5.3125rem;
            padding: 0 0.625rem;
            height: 2rem;
            justify-content: center;
            align-items: center;
            display: flex;
            position: absolute;
            gap: 0.625rem;
            top: 0;
            right: 0;
            span {
              font-weight: 700;
              font-size: 14px;
              line-height: 14px;
              color: #4f4f4f;
            }
            img {
              height: 1.875rem;
            }
          }
        }
      }
    }
  }
}
