.timer__component {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #0066ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.9375rem 0;
  gap: 0.3125rem;
  width: 100%;
}
