.popupsubmit__component {
  .content__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    color: #000000;
    margin: 0;
    margin-bottom: 2.5rem;
    p {
      margin: 0 !important;
      text-align: center !important;
    }
  }
  .content__warning {
    min-height: 3.125rem;
    background: #ffb800;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1.875rem 0;
    padding: 0.75rem 1rem 0.75rem 3.75rem;
    p {
      margin: 0;
      width: 100%;
    }
    img {
      position: absolute;
      height: 2.5rem;
      left: 0.625rem;
    }
  }
  .content__buttons {
    display: flex;
    justify-content: space-evenly;
    button {
      width: fit-content;
      margin: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      padding: 0.75rem 1.75rem;
    }
  }
}
